.thing-1 {
  background-image: url(img/1.jpg);
}

.thing-2 {
  background-image: url(img/2.jpg);
}

.thing-3 {
  background-image: url(img/3.jpg);
}

.thing-4 {
  background-image: url(img/4.jpg);
}

.thing-5 {
  background-image: url(img/5.jpg);
}

.thing-6 {
  background-image: url(img/6.jpg);
}

.thing-7 {
  background-image: url(img/7.jpg);
}

.thing-8 {
  background-image: url(img/8.jpg);
}

.thing-9 {
  background-image: url(img/9.jpg);
}

.thing-10 {
  background-image: url(img/10.jpg);
}
